page-home {
    .bg-image {
        background: url('../assets/imgs/grocery-cart-with-item-1005638.jpg') no-repeat fixed center;
        -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
      }
} 
