<ion-header>
  <ion-navbar color='primary' >
    <ion-title>
      Shopping List
    </ion-title>
  

  
    <button navPush="AddShoppingItemPage" ion-button>
      <ion-buttons>
        <ion-icon name="add" left>

        </ion-icon>
      </ion-buttons>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="bg-image" no-scroll padding>
  <ion-list>
    <ion-list-header color="primary">
      Items
    </ion-list-header>
    <ion-item *ngFor="let item of shoppingList$ | async" detail-push navPush="EditShoppingItemPage" [navParams]="{item: item}">
        {{item.name}}
        
    </ion-item>
    
    
  </ion-list>
  
  <ion-footer>
    <ion-card>
  
      <ion-card-content>
        Total: R {{total}}
      </ion-card-content>
    </ion-card>
    <ion-toolbar>
      <ion-title>Designed by @Joseph </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
